    
    <div class='intro-text-container'>
        <div class='intro-text-title'>
            <p>Welcome to <b>IBM Discover</b></p>
        </div>
        <div class='intro-text-subtitle'>
            <p>The leading AI discovery application, find gold whilst focusing on what's most important ...</p>
        </div>
    </div>


    <div class='search-container'>
        <input class='search-text' type='search-text' name='' placeholder='Discover hidden potential'>
        <a class='search-btn' href='#'>
            <i class='fas fa-search'></i>
        </a>
    </div>  
