<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        
                
        <style>
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
        </style>


        <title></title>

        <script src="https://kit.fontawesome.com/00d6e9583e.js" crossorigin="anonymous"></script>

        <link rel='stylesheet' href='{{ url_for('static', filename='css/style-light.css') }}'>

    </head>

    <body>
        <div class='outside'>
            <nav>
                <div class="title">
                    <p><b>Watson Discovery:</b> for cognitive search demo</p>
                </div>

                <div class="logo">
                    <p>IBM</p>
                </div>
            </nav>

            <div class='main_container'>

                <div class='search-container'>

                    <div class='intro-txt-container'>
                        <div class='intro-txt'>
                            <p>
                                Welcome to Wastson Cognitive Search!
                            </p>
                        </div>

                        <div class='intro-subtxt'>
                            <p> 
                                The leading AI search application, allowing you to focus on what's most important ...
                            </p>
                        </div>
                    </div>

                    <div class='search-box'>

                        <input class='search-txt' type='text' name='' placeholder='Type to search'>
                        <a class='search-btn' href='#'>
                        <i class="fas fa-search"></i>
                        </a>

                    </div>
                    
                    <div class='filter-container'>
                        <div class='filter-btns'>
                            <ul>
                                <li data-li='all' class='btn active'>All</li>
                                <li data-li='filter-1' class='btn'>Filter1</li>
                                <li data-li='filter-2' class='btn'>Filter2</li>
                                <li data-li='filter-3' class='btn'>Filter3</li>
                                <li data-li='filter-4' class='btn'>Filter4</li>
                                <li data-li='filter-5' class='btn'>Filter5</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class='results-container'>
                        
                    </div>

                </div>

            </div>  
            
        </div>

        <footer class='footer'>
            All rights reserved to IBM
        </footer>

        

        <script src='{{ url_for('static', filename='js/app.js') }}'></script>
    </body>

</html>

